.logo{
    width: 200px;
}
.bg-body-tertiary {
    background-color: white!important;
}
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    padding-right: 50px;
}
.menu-button {
    cursor: pointer;
} 
#dropdown-custom-components{
    background-color: white;
    border-color: white;
    color: black;
}
.nav-link{
    color: black;
}